---
const pageTitle = "About Me";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <h1>{pageTitle}</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
      repudiandae rerum similique sed, architecto, ipsa nemo veritatis porro
      deleniti recusandae impedit quo incidunt! Exercitationem, corporis? Vel
      aspernatur, soluta eveniet dolor tempore eos itaque et animi eius delectus
      numquam quisquam quo.
    </p>
  </body>
</html>
